body {
  background-color: rgb(244, 248, 249);
}
img {
}
time {
  color: rgb(101, 116, 127);
}

.twttr-content {
  font-family: arial, verdana, helvetica;
  font-weight: bold;
  width: 50%;
  background: rgb(255, 255, 255);
  border: rgb(225, 232, 237);
  border-style: solid;
  border-radius: 6px;
  padding: 20px;
  margin: auto;
}

/*here starts de twitter header secction*/
.header {
  width: 100%;
  height: 80px;
  position: relative;
}
/* header content*/

.account, .follow {
  width: 50%;
  float: left;
}

.profile-picture {
  width: 72px;
  height: 72px;
  float: left;
  padding-right: 10px;
}

#account-info {
  height: 25px;
  border: none;
}

#account-logo, #name {
  float: left;
}

#name {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

#at-jack {
  font-size: 18px;
  color: rgb(104, 109, 129);
}

/*follow button*/
.follow-button {
  float: right;
  width: 150px;
  height: 50px;
  border: rgb(85, 172, 238);
  border-style: solid;
  border-radius: 6px;
  color: rgb(85, 172, 238);
  font-size: 20px;
}

.twitter-logo {
  width: 32px;
  height: 29px;
  margin: 10px 0 0 10px;
  float: left;
}

#logo-text {
  margin-bottom: 15px;
}
/*start of the twitter body text*/
.text-content {
  font-size: 20px;
  line-height: 0.5;
  width: 100%;
  height: 80px;
  position: relative;
}

/*start of the twitter footer*/
.footer {
  width: 100%;
  height: 35px;
  display: inline-block;
  clear: left;
  color: rgb(105, 120, 130);
  font-size: 20px;
}

#reply, #retwt, #retweet, #favor, #favorite {
  float: left;
}
